body {
    background-image: url(Imagens/foto\ de\ fundo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #696929;
    font-family: 'Press Start 2P';
    text-align: center;
}

{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    opacity: 0.9;
}

.logo-imagem{
    width: 295px;
    height: 70px;
    background-image: url(/favicons/logo\ de\ classicos\ v2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.container-logo{
    display: flex;
    align-items: center;
}
.logo-texto{
    margin-left: 25px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 900;
}
.menu li a:hover{
    background-color: rgba(100, 100, 100, 0.5);
}

.menu-lateral {
    position: fixed; 
    top: 50%;
    left: 0; 
    transform: translateY(-50%); 
    padding: 10px; 
    background-color: #ffffff; 
    border-radius: 0 10px 10px 0; 
}


.menu-lateral a {
    display: block; 
    margin-bottom: 10px; 
}


.menu-lateral img {
    width: 30px;
    height: 30px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96.5%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 350px;
}


.box img {
    max-width: 400px;
    height: 1100px;
}

.box .text {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.box h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.box p {
    font-size: 18px;
    color: #666;
}

.voltar {
    text-align: center;
    margin-top: 20px;
}

.voltar a {
    background-color: #f0f0f0;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.voltar a:hover {
    background-color: #e0e0e0;
}


footer {
    background-color: #000000;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    opacity: 0.9;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #ffffff;
	text-decoration: none;
}